* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.home {
	background: url(../images/Star-Wars-Battlefront-II-combat.jpg) no-repeat
		center / cover;
}

.home-title {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 75px;
	line-height: 94px;
	color: #ffffff;
}

.home-text {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	margin: 0 0 100px 0;
}

.home-button {
	background: #8dd83d;
	border-radius: 4px;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	padding: 10px 30px;
	text-decoration: none;
	transition: all 0.7s ease 0s;
}

.home-button:hover {
	background: #03d31b;
	box-shadow: 0 0 10px 0 #03d31b;
}

.games {
	padding: 60px 0 160px 0;
	background: linear-gradient(gray, rgb(32, 32, 32));
}

.games-logo {
	display: block;
	margin: 0 auto;
}

.games-title {
	text-align: center;
	font-weight: 400;
	font-size: 48px;
	line-height: 40px;
	color: #ffffff;
	margin: 16px 0 40px 0;
}

.games-subtitle {
	display: block;
	font-size: 36px;
}

.games-card {
	flex: 0 0 320px;
	max-width: 320px;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #8dd83d;
	overflow: hidden;
}

.card-image {
	height: 180px;
}

.card-image-01 {
	background: url(../images/card-image-01.jpg) no-repeat center / cover;
}

.card-image-02 {
	background: url(../images/card-image-02.jpg) no-repeat center / cover;
}

.card-image-03 {
	background: url(../images/card-image-03.jpg) no-repeat center / cover;
}

.card-body {
	padding: 22px;
}

.card-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #435766;
	margin: 0 0 11px 0;
}

.card-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #435766;
	margin: 0 0 36px 0;
}

.card-button {
	display: block;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	background: #8dd83d;
	color: #ffffff;
}

.games-content {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
}

.header {
	background: #373a3c;
	padding: 11px 0;
	border-bottom: 2px solid #777777;
}

.container-header {
	display: flex;
	align-items: center;
}

.menu {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}
.menu-link {
	font-size: 16px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	margin: 0 0 0 25px;
	transition: all 0.5s ease 0s;
}
.menu-link:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
}

.header-logo {
	height: 30px;
}

.menu-icon {
	flex: 0 0 35px;
	width: 35px;
	height: 35px;
	background: url(../images/menu-01.svg) no-repeat center / cover;
	position: relative;
	z-index: 11;
	display: none;
}

.screens {
	padding: 85px 0 0 0;
}

.screens-content {
	display: flex;
	justify-content: center;
	/* gap: 50px; */
	margin: 0 0 85px 0;
}

.screens-title {
	flex: 0 0 50%;
	font-weight: 400;
	font-size: 36px;
	line-height: 45px;

	color: #435766;
}

.screens-image {
	flex: 0 0 50%;
}

@media (max-width: 600px) {
	.menu-icon {
		display: block;
	}

	.menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: green;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
		transition: all 0.5s ease 0s;
	}

	.menu-link {
		margin: 0;
		font-size: 40px;
	}

	.menu.active {
		top: 0;
	}
}
